= '\n'
//= call =

.call.hide-screen-min-1080#call
    a.call__filter.call-aside.button(href='javascript:void(0);' data-trigger='filters')
        | Фильтры
    a.call__sort.button.modal-init(href='#sort' data-class='modal--sort') Сортировка


//= End call =
= '\n'
