= '\n'
//= Cookies =

.cookies.hidden
    b Cookie
    p Цей веб-сайт використовує файли cookies, щоб покращити роботу користувачів.
    a.button.submit(href='javascript:void(0);') Зрозуміло
    span.cookies__close.submit
        +icon('icon-close')

//= End cookies =
= '\n'
