= '\n'
//= Range =

.range
    .range__controls
        .range__controls-inner
            input(type='number' value='1500' maxlength='7')
            input(type='number' value='350560' maxlength='7')
        button.button(type='') ok
    .range__slider
        input(type='hidden' name='range' value='')

//= End range =
= '\n'
