= '\n'
//= Recovery =

form.form.form--modal.form--recovery.mfp-hide#recovery(action='' method='')
    .title-h2 Восстановление паролю
    span.form__note Мы отправим вам СМС с новым паролем
    .form__section
        .form-group
            label.control-label Номер телефона
            input.form-control(type='number' placeholder='+ 380 __ __ __ ___')
            .help-block
    .form__buttons
        .form-group
            button.form-control.button.button--blue(type='submit') Отправить


//= End recovery =
= '\n'
