= '\n'
//= Search =

.search
    form(action='' method='')
        input(type='text' name='' placeholder= searchPlaceholder)
        button(type='submit' name='')
            +icon('icon-search')

//= End search =
= '\n'
