= '\n'
//= Search-button =

.search-button.hide-screen-min-1080
    a.call-aside(href='javascript:void(0);' data-trigger='search')
        +icon('icon-search')
    a.close-aside(href='javascript:void(0);')
        +icon('icon-close')

//= End search-button =
= '\n'
