= '\n'
//= User =

.user(class= hideOnMobile ? `hide-screen-max-${ mediaQuery }`: '')
    +icon('icon-user')
    b Здравствуйте,&nbsp;
        a.user__link(href='modal.html') modal example

//= End user =
= '\n'
