//- Utility

include utils/_variable

-
    pageTitle = 'catalog'
    ionRangeSlider = true

    breadcrumbItems = [{name: 'Главная', link: 'index.html'}, {name: 'Каталог'}]

doctype html
html
    include layout/_head

    body.body

        include layout/_header

        = '\n'
        //= Main =

        main
            = '\n'
            //= Layout-box =

            .layout-box.layout-box--aside.container#container
                include module/_breadcrumb
                h1 Каталог

                aside#aside
                    include module/_filters

                .layout-box__content
                    include module/_breadcrumb
                    h1 Каталог

                    include module/_call

                    .swiper.swiper--special-buttons.section
                        .swiper-container(data-params='firstScreen')
                            .swiper-wrapper
                                - for (let i = 0; i < 15; i++)
                                    .swiper-slide
                                        a(href='javascript:void(0);')
                                            img(src=`https://fakeimg.pl/1270x260/`, alt='')
                            .swiper-button-prev.hide-screen-max-1080
                                img(src=`data/icons/first-screen-arrow.svg`, alt='')
                            .swiper-button-next.hide-screen-max-1080
                                img(src=`data/icons/first-screen-arrow.svg`, alt='')

                    .layout-box__sort
                        .layout-box__sort-filters
                            span Выбрано 2000 товаров
                            include module/_sort-filters
                        include module/_sort

                    -
                        prefixInPrice = 'от&nbsp;'
                        currInPrice = '&nbsp;грн'
                        oldPrice = true

                    .layout-box__catalog.section
                        - for (let i = 0; i < 19; i++)
                            include module/_product

                    .layout-box__pagination
                        include module/_pagination

                    = '\n'
                    //= Content =
                    .content
                        a.content__open(href='javascript:void(0);' data-minimize='Згорнути')
                            span Читати повністю
                        .text
                            h1 Что такое Lorem Ipsum?
                            p #[b Lorem Ipsum] - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                            h2 Почему он используется?
                            p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                            p Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
                            strong Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
                    //= End content =
                    = '\n'

                = '\n'
                //= Content =
                .content
                    a.content__open(href='javascript:void(0);' data-minimize='Згорнути')
                        span Читати повністю
                    .text
                        h1 Что такое Lorem Ipsum?
                        p #[b Lorem Ipsum] - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                        h2 Почему он используется?
                        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                        p Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
                        strong Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
                //= End content =
                = '\n'

        //= End main =
        = '\n'

        include layout/_footer
        include module/_mobile-menu
        include module/_cookies

        #shadow

        include layout/_sprite
        include layout/_scripts
