//- Utility

include utils/_variable

-
    pageTitle = 'forms'
    select2OnPage = true
    magnifnicOnPage = true

doctype html
html
    include layout/_head

    body.body
        include layout/_header

        = '\n'
        //= Main =
        main
            .layout-box.container#container

                h1 form examples

                form.form(action='' method='')
                    h1 global col-N
                    b.form__title global col-2 with indents
                    .form__section.col-2
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-2')
                            .help-block
                        .form__section.col-stretch.col-3
                            .form-group
                                label.control-label title
                                input.form-control(type='text' placeholder='col-3')
                                .help-block
                            .form-group
                                label.control-label title
                                input.form-control(type='text' placeholder='col-3')
                                .help-block
                            .form-group
                                label.control-label title
                                input.form-control(type='text' placeholder='col-3')
                                .help-block

                    b.form__title global col-3
                    .form__section.col-3
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-3')
                            .help-block

                    b.form__title global col-4
                    .form__section.col-4
                        .form-group
                            label.control-label title
                            select.form-control
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                            .help-block
                        .form-group
                            label.control-label title
                            select.form-control
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                            .help-block
                        .form-group
                            label.control-label title
                            select.form-control
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                            .help-block
                        .form-group
                            label.control-label title
                            select.form-control
                                option(value='0') Xiaomi Redmi Note 9 4/128Gb NFC (Grey) EU - Официальный
                            .help-block

                    h1 col-min-s-N (min-s means min-width starts with $min-s (768px by default) variable)
                    b.form__title .col-min-s-2
                    .form__section.col-min-s-2
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-2')
                            .help-block

                    b.form__title .col-min-s-3
                    .form__section.col-min-s-3
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-3')
                            .help-block

                    b.form__title .col-min-s-4
                    .form__section.col-min-s-4
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-s-4')
                            .help-block

                    h1 col-min-m-N (min-m means min-width starts with $min-m (1080px by default) variable)
                    b.form__title .col-min-m-2
                    .form__section.col-min-m-2
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-2')
                            .help-block

                    b.form__title .col-min-m-3
                    .form__section.col-min-m-3
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-3')
                            .help-block

                    b.form__title .col-min-m-4
                    .form__section.col-min-m-4
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-m-4')
                            .help-block


                    h1 col-min-l-N (min-l means min-width starts with $min-l (1440px by default)) variable)
                    b.form__title .col-min-l-2
                    .form__section.col-min-l-2
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-2')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-2')
                            .help-block

                    b.form__title .col-min-l-3
                    .form__section.col-min-l-3
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-3')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-3')
                            .help-block

                    b.form__title .col-min-l-4
                    .form__section.col-min-l-4
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-4')
                            .help-block
                        .form-group
                            label.control-label title
                            input.form-control(type='text' placeholder='col-min-l-4')
                            .help-block

                    .form-group.form__section.form__radio
                        label.control-label some header
                        div
                            label
                                input(type='radio' name='delivery' checked)
                                p Курьером по Киеву
                            label
                                input(type='radio' name='delivery')
                                p Новой почтой
                            .help-block

                    .form-group.form__section.form__radio
                        label.control-label some header
                        div
                            label
                                input(type='radio' name='department' checked)
                                p На отделение «Новая Почта»
                            label
                                input(type='radio' name='department')
                                p Курьером «Новая Почта»
                            .help-block

                        .form-group
                            label.control-label Отделение «Новая почта»
                            select.form-control
                                - for (let i = 0; i < 14; i++)
                                    option(value='')= `Отделение №${i + 1}`
                            .help-block

                    .form__section.col-4
                        .form-group
                            label.control-label Дом
                            input.form-control(type='text' placeholder='1/4a')
                            .help-block
                        .form-group
                            label.control-label Квартира
                            input.form-control(type='text' placeholder='56')
                            .help-block
                        .form-group
                            label.control-label Подъезд
                            input.form-control(type='text' placeholder='2')
                            .help-block
                        .form-group
                            label.control-label Этаж
                            input.form-control(type='text' placeholder='3')
                            .help-block

                    .form__section
                        .form-group
                            label.control-label Вид упаковки
                            select#packaging.form-control
                                option(value='По умолчанию') По умолчанию
                                option(value='Без упаковки') Без упаковки
                                option(value='Без пластика') Без пластика
                            .help-block

                    .form-group.form__section.form__radio
                        label.control-label
                        div
                            label
                                input(type='radio' name='time' checked)
                                p 12:00 - 19:00
                            label
                                input(type='radio' name='time')
                                p 18:00 - 23:00
                            .help-block

                    .form__section.form__section--textarea
                        .form-group
                            label.control-label Примечание
                            textarea.form-control(type='text' placeholder='Напишите здесь что-нибудь')
                            .help-block

                    .form-group.form__section.form__radio
                        label.control-label some header
                        div
                            label
                                input(type='radio' name='payment' checked)
                                | Наличными при получении
                            label
                                input(type='radio' name='payment')
                                | На карту ПриватБанка
                            label
                                input(type='radio' name='payment')
                                | Онлайн-оплата LiqPay
                                i (взимается дополнительная комиссия в размере 2,8%)
                                i (взимается дополнительная комиссия в размере 2,8%)

                            label
                                input(type='radio' name='payment')
                                | Оплата для юрлиц
                            .help-block

                    .form__checkboxes
                        .form-group
                            label
                                input(type='checkbox' checked)
                                | Я прочитал(-а) Условия использования сайта и согласен(-на) с условиями


                = '\n'
                //= Content =
                .content.container
                    a.content__open(href='javascript:void(0);' data-minimize='Згорнути')
                        span Читать полностью
                    .text
                        h1 Что такое Lorem Ipsum?
                        p #[b Lorem Ipsum] - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                        h2 Почему он используется?
                        p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                        h2 Откуда он появился?
                        p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32
                        p Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.
                        strong Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.

                //= End content =
                = '\n'

        //= End main =
        = '\n'


        include layout/_footer
        include module/_mobile-menu
        include module/_cookies

        #shadow

        include layout/_sprite
        include layout/_scripts
