.icon-32x32 {
  width: 90px;
  height: 22px;
  fill: #000;
  stroke: initial;
}
.icon-arrow {
  width: 16px;
  height: 16px;
  fill: initial;
  stroke: #575755;
}
.icon-cart {
  width: 24px;
  height: 24px;
  fill: initial;
  stroke: #fff;
}
.icon-chain {
  width: 20px;
  height: 20px;
  fill: #3C78D8;
  stroke: initial;
}
.icon-close {
  width: 33px;
  height: 33px;
  fill: initial;
  stroke: #fff;
}
.icon-dislike {
  width: 20px;
  height: 20px;
  fill: #3C78D8;
  stroke: initial;
}
.icon-grid {
  width: 24px;
  height: 24px;
  fill: #2A2A29;
  stroke: initial;
}
.icon-like {
  width: 20px;
  height: 20px;
  fill: #3C78D8;
  stroke: initial;
}
.icon-message {
  width: 20px;
  height: 20px;
  fill: #3C78D8;
  stroke: initial;
}
.icon-mobile-menu-button {
  width: 32px;
  height: 32px;
  fill: initial;
  stroke: #fff;
}
.icon-search {
  width: 33px;
  height: 33px;
  fill: initial;
  stroke: #575755;
}
.icon-slider-arrow {
  width: 16px;
  height: 16px;
  fill: initial;
  stroke: #575755;
}
.icon-user {
  width: 24px;
  height: 24px;
  fill: initial;
  stroke: #575755;
}
